<div class="show-mobile">
  <div>
    <button (click)="displayMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
  <!-- la clase activa se activara cuando showMenu sea true -->
  <div class="show-menu" id="side-menu" [class.active]="showMenu">
    <button (click)="closeMenu()" >Close</button>
    <ul>
      <li>
        <a
        routerLinkActive="active"
        routerLink="home">Home</a>
      </li>
      <li><a routerLinkActive="active" routerLink="login">Register</a></li>
      <li ><a routerLinkActive="active" routerLink="categories">Categories</a></li>
    </ul>
  </div>
</div>
  <div class="hide-mobile">
    <div>
      <nav>
        <a class="logo" href="">
          <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
        </a>
        <ul>
          <li>
            <a
            routerLinkActive="active"
            routerLink="home">Home</a>
          </li>
          <li><a routerLinkActive="active" routerLink="register">Register</a></li>
          <li ><a routerLinkActive="active" routerLink="categories">Categories</a></li>
          <li ><a routerLinkActive="active" routerLink="profile">Profile</a></li>
        </ul>
      </nav>
      <div class="info">
        <button *ngIf="!profile; else elseBlock"
        class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400"
        (click)="login()"
        > LOGIN </button>
        <ng-template #elseBlock>
          <a routerLink="/profile" class="account">{{profile?.email}}</a>
          <button
          class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400"
          (click)="logoutUser()"
          > LOGOUT </button>
        </ng-template>
        <div class="cart">
          <a href="">
            <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
          </a>
          <span class="counter">{{ counter }}</span>
        </div>
      </div>
    </div>
  </div>
