@keyframes lightning {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }

}
.lightning-container {
  animation: lightning 2s linear;
}
