<p>product works!</p>
<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<a  href="#" class="group">
  <div  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7" >
    <!-- <img [src]="product.image" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75"> -->
    <app-img
    *ngIf="product.images.length > 0"
    [img]="product.images[0]"
    (loaded)="onLoaded($event)"
    class="h-full w-full object-cover object-center group-hover:opacity-75" ></app-img>
  </div>
  <h3 class="mt-4 text-sm text-gray-700">{{product.name}}</h3>
  <p class="mt-1 text-lg font-medium text-gray-900">{{product.price | currency: 'Bs'}}</p>
  <p class="mt-1 text-lg font-medium text-gray-900">{{product?.taxes | currency: 'Bs'}}</p>
</a>
<div class="btn-section">
  <button (click)="onShowDetails()"
    class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400">See Details
  </button>
  <button (click)="emitProduct(product)"
    class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-400"
    style="margin-top: 0.2rem;"
    >Add to Cart

  </button>
</div>

