/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'swiper/css/bundle';


@import url('./app/styles/reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

*{
  font-family: 'Quicksand', sans-serif;
}

app-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
